#login {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

#authContainer {
  width: 350px;

  #logo {
    display: block;
    margin-bottom: 20px;
    text-align: center;

    img {
      width: 175px;
      height: 25px;
      display: inline-block;
    }
  }
}

#authContent {
  width: 100%;
  background: rgba(0,0,0,0.2);
  padding: 20px;
  border-radius: 4px;
  text-align: left;

  h1 {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
  }
  input {
    display: block;
  }
  button {
    width: 100%;
    display: block;
  }
}

#authBottom {
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  margin-top: 20px;

  a {
    color: rgba(255,255,255,0.6);

    strong {
      color: rgba(255,255,255,1);
      font-weight: bold;
    }
  }
}