// LISTS
ul {
  list-style: none;
}

// LINKS
a {
  color: $color-main;
  transition: all 0.1s ease-out;
  text-decoration: none;
}

// ICONS
.icon {
  display: inline-block;
}

// MESSAGES
.message {
  color: #fff;
  background-color: $color-blue;
  padding: 16px;
  border-radius: 4px;
  font-weight: 600;
  margin-bottom: 20px;
  
  &.error {
    color: #fff;
    background-color: $color-red;
  }
  &.success {
    color: #000;
    background-color: $color-main;
  }
  &.warning {
    color: #000;
    background-color: $color-yellow;
  }
}