// Button background color mixin
@mixin buttonBackgroundColor($color) {
  background-color: $color;

  &:hover {
    background-color: darken($color, 4%);
  }
  &[disabled] {
    background-color: $color;
  }
}

// BUTTONS
.button {
  display: inline-block;
  padding: 11px 18px;
  font-size: 14px;
  font-weight: $font-weight-semi;
  border-radius: 4px;
  color: $white;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.1s ease-out;
  color: $color-dark;
  @include buttonBackgroundColor($color-smoke);
  
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }

  // Button color styles
  &.button-info {
    color: $color-white;
    @include buttonBackgroundColor($color-info);
  }
  &.button-success {
    color: $color-white;
    @include buttonBackgroundColor($color-success);
  }
  &.button-danger {
    color: $color-white;
    @include buttonBackgroundColor($color-danger);
  }
  &.button-warning {
    color: #4C421A;
    @include buttonBackgroundColor($color-warning);
  }
  &.button-dark {
    color: $color-white;
    @include buttonBackgroundColor($color-dark);
  }
}

// TEXT & TEXTAREA INPUTS
.input, .textarea {
  display: inline-block;
  padding: 12px 14px;
  font-size: $font-size-main;
  font-family: $font-main;
  font-weight: $font-weight-normal;
  line-height: 100%;
  color: $color-main;
  background: $white;
  border-radius: 4px;
  border: 1px solid $color-border;
  transition: all 0.1s ease-out;
  -webkit-appearance: none;

  &:focus {
    border-color: darken($color-border, 10%);
  }
  &[disabled] {
    color: $color-dark;
    background: $color-smoke;
    cursor: not-allowed;
  }
  &.input-error {
    border: 1px solid $color-danger;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  &.input-spaced {
    margin-bottom: 12px;
  }
}
textarea.input {
  min-height: 100px;
  line-height: 150%;
  resize: vertical;
}

// LABELS
.label {
  display: block;
  margin-bottom: 8px;

  label {
    display: inline-block;
    color: $color-dark;
    font-size: $font-size-main;
    line-height: 100%;
    cursor: pointer;
  }
}

// INPUT CONTAINER
.input-container {
  margin-bottom: 12px;

  &.no-space {
    margin-bottom: 0;
  }
}

// INPUT ERRORS
.input-error-msg {
  padding: 10px;
  display: block;
  background: $color-danger;
  color: $white;
  font-weight: $font-weight-strong;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  background: lighten($color-danger, 48%);
  color: $color-danger;
  border: 1px solid $color-danger;
  border-top: none;
}