// Colors

$color-main:    #18FF6D;
$color-dark:    #0F1327;
$color-red:     #FE0000;
$color-yellow:  #FFA630;
$color-blue:    #0077FF;
$color-green:   #4FBE00;

// B&W shades

$white: #fff;
$dark: rgba(255, 255, 255, 0.3);
$darker: rgba(0,0,0,0.2);


// Typography

$font-main: 'Proxima Nova', Helvetica, Arial, sans-serif;

$font-size-small: 0.9rem;
$font-size-normal: 1rem;
$font-size-large: 1.25rem;
$font-size-larger: 1.5rem;
$font-size-largest: 2rem;

$font-weight-normal: 400;
$font-weight-semi: 500;
$font-weight-strong: 600;
