// Colors
$color-main:    #18FF6D;
$color-dark:    #0F1327;
$color-red:     #FE0000;
$color-yellow:  #FFA630;
$color-blue:    #0077FF;
$color-green:   #4FBE00;

// Main font
$font-main: 'Proxima Nova', Helvetica, Arial, sans-serif;